html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px;
    /* bottom = footer height */
}
header {
    background-color: #1abc9c;
    margin-bottom: 1em;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #1abc9c;
    padding: 3% 0 3% 0; position:
}

.picture-label {
    color: gray;
    text-align: center;
    margin-top: 0.5em;
}

.picture-content {
    display: block;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover,
.nav li:hover {
    color: gray;
}

a.page-link {
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 1.35em;
    text-decoration: underline;
    padding: 0.40em;
    color: black;
}

a.page-link:hover {
    background-color: #333333;
    color: white;
    text-decoration: none;
    border-radius: 35%;
}

